<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >用户协议</div>
</ion-header-bar>
<ion-view>
    <ion-content style="padding:5px;">
    1 用户明确同意其使用本站网络服务所存在的风险及一切后果将完全由用户本人承担，我公司对此不承担任何责任。</br> 
2 本站无法保证网络服务一定能满足用户的要求，也不保证网络服务的及时性、安全性、准确性。 </br>
3 本站不保证为方便用户而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本站实际控制的任何网页上的内容，本站不承担任何责任。</br>
4 对于因不可抗力或本站不能控制的原因造成的网络服务中断或其它缺陷，本站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</br>
5 对于站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本站无需承担任何责任：</br>
(1)本站向用户免费提供的各项网络服务； </br>
(2)本站向用户赠送的任何产品或者服务。</br>
6 本站有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本站对用户和任何第三人均无需承担任何责任。</br>
    </ion-content>

    <!--选择地区-->
    <div class="js-citySelestNode tab-nav tabs hide-on-keyboard-open"  style="padding:0 10px;width:100%;height:auto;background-color:#fff;"></div>
</ion-view>